<div class="page-header">
  <div class="container-fluid">
    <h2 class="h5 no-margin-bottom">Novo Rótulo</h2>
  </div>
</div>

<% if @label.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

    <ul>
        <% @label.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>

    </div>
<% end %>

<div class="col-lg-12">
	<div class="block">
	  <div class="block-body">
	    <%= form_for @label, url: backoffice_product_label_index_path do |t| %>
	      <div class="form-group">
            <%= t.label "Nome", class: "form-control-label" %>
            <%= t.text_field :name, class:"form-control" %>
	      </div>
        <div class="form-group">
            <%= t.label "Descrição", class: "form-control-label" %>
            <%= t.text_area :description, class:"form-control" %>
        </div>
         <div class="form-group">
            <%= t.label "Cor para etiqueta" %><br>
            <div class="btn-group-horizontal" data-toggle="buttons">
              <%= t.label "Cores", class: "btn btn-primary btn-sm active" do %>
                <%= t.radio_button :color, :primary, checked: true %>
                Azul
              <% end %>
              <%= t.label "Cores", class: "btn btn-success btn-sm" do %>
                <%= t.radio_button :color, :success %>
                Verde
              <% end %>
              <%= t.label "Cores", class: "btn btn-warning btn-sm" do %>
                <%= t.radio_button :color, :warning %>
                Amarelo
              <% end %>
              <%= t.label "Cores", class: "btn btn-danger btn-sm" do %>
                <%= t.radio_button :color, :danger%>
                Vermelho
              <% end %>
              <%= t.label "Cores", class: "btn btn-dark btn-sm" do %>
                <%= t.radio_button :color, :dark %>
                Preto
              <% end %>
              <%= t.label "Cores", class: "btn btn-light btn-sm" do %>
                <%= t.radio_button :color, :light %>
                Cinza
              <% end %>
            </div>
          </div>
          <div class="form-group" style="display: none">
              <%= t.text_field :site_id,  :value => current_user.site %>
            </div>
           <!-- <div class="form-group">
                <%= t.label "Site", class: "form-control-label" %>   
                <%= t.collection_select( :site_id, @sites, :id, :name, 
                {:include_blank=>false}, {:class=> 'form-control mb-3 mb-3'}) %>
              </div> -->
	      <div class="form-group">       
	        <%= t.submit "Salvar", class: "btn btn-primary" %>
	      </div>
	    <% end %>
	  </div>
	</div>
</div>