<!DOCTYPE html>
<html>
  <head>
    <title>EF Painel - Administração do Site</title>    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <%= stylesheet_link_tag 'backoffice/application', media: 'all' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v4.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script>
      function funcao1()
      {
      alert("<%= request.fullpath %>");
      }
    </script>
  </head>

  <body>
    <header class="header">   
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid d-flex align-items-center justify-content-between">
          <div class="navbar-header">
            <!-- Navbar Header--><a href="#" class="navbar-brand">
              <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary">EF</strong><strong>Painel</strong></div>
              <div class="brand-text brand-sm"><strong class="text-primary">E</strong><strong>F</strong></div></a>
            <!-- Sidebar Toggle Btn-->
            <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>
          </div>
          <div class="right-menu list-inline no-margin-bottom">
            <div class="list-inline-item dropdown"><a id="navbarDropdownMenuLink1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link messages-toggle"><i class="icon-email"></i><span class="badge dashbg-1">1</span><span style="margin-left: 2px;">Mensagens</span></a>
              <div aria-labelledby="navbarDropdownMenuLink1" class="dropdown-menu messages"><a href="#" class="dropdown-item message d-flex align-items-center">
                  <div class="profile">
                    <%= image_tag("backoffice/pp (1).jpg", :alt => "", size: "210", class: "img-fluid") %>
                    <div class="status online"></div>
                  </div>
                  <div class="content">   <strong class="d-block">Lorenzo Dionizio</strong><span class="d-block">lorem ipsum dolor sit amit</span><small class="date d-block">9:30</small></div>

                  <a href="#" class="dropdown-item text-center message"> <strong>Mostrar todas mensages <i class="fa fa-angle-right"></i></strong></a>
                  </div>
              </div>
            <!-- Languages dropdown    -->
            <div class="list-inline-item dropdown">
                <a id="languages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">
                    <i class="icon-new-file"></i><span>Perfil</span>
                </a>
              <div aria-labelledby="languages" class="dropdown-menu">
                <%= link_to edit_backoffice_config_user_path(current_user.id), class: "dropdown-item" do %>
                   <span>Meu perfil</span>
                <% end %>
                <a rel="nofollow" href="#" class="dropdown-item"><span>Informações do site</span>
                  <input type="button" onclick="funcao1()" value="Exibir Alert" />
                </a>
              </div>
            </div>
            <!-- Log out               -->
            <div class="list-inline-item logout">
              <%= link_to  destroy_user_session_path, class: "nav-link" do %>
                <span class="d-none d-sm-inline">Sair</span>
                <i class="icon-logout"></i>
             <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="d-flex align-items-stretch">
      <!-- Sidebar Navigation-->
      <nav id="sidebar">
        <!-- Sidebar Header-->
        <div class="sidebar-header d-flex align-items-center">
          <% User.where(id: current_user.id).each do |admin| %>
            <% Site.where(id: admin.site).each do | site | %>
              <div class="avatar">
                <%= link_to "#top" do %>                  
                    <img src="<%= admin.photoavatar %>" alt="..." class="img-fluid rounded-circle">
                <% end %>
              </div>
              <div class="title">
                <h1 class="h5"><%= admin.name.blank? ? admin.email : admin.name %></h1>
                <p><%= site.name %></p>
              </div>
            <% end %>
          <% end %>
        </div>

       <% @profiles.each do |pai| %>
        <% if pai.level == 1 %>
          <span class="heading"><%= pai.description %></span>
        <% end %>
          <% @profiles.each do |filho| %>
            <% if pai.code == filho.father %>
              <ul class="list-unstyled">
                  <li class="<%= controller.controller_name == filho.controller_name ? 'active' : '' %>">
                    <% if filho.level == 2 %>
                      <% if filho.father == 17 %><!-- Para links externos do módulo Links -->
                        <%= link_to eval(filho.route), target: "_blank" do %>
                        <i class="<%= filho.icon %>"></i><%= filho.description %>
                        <% end %>
                      <% else %>
                         <%= link_to eval(filho.route) do %>
                        <i class="<%= filho.icon %>"></i><%= filho.description %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% if filho.level == 3 %>
                      <a href="#menu-<%= filho.code %>" aria-expanded="false" data-toggle="collapse"> <i class="<%= filho.icon %>"></i>
                      <%= filho.description %></a>
                    <% end %>
                    <% @profiles.each do |neto| %>
                        <% if filho.code == neto.father %>
                          <ul id="menu-<%= neto.father %>" class="collapse list-unstyled ">
                            <li class="<%= controller.controller_name == neto.controller_name ? 'active' : '' %>">  
                              <%= link_to eval(neto.route) do %>
                              <i class="<%= neto.icon %>"></i><%= neto.description %>
                              <% end %>
                            </li>
                          </ul>   
                        <% end %>
                    <% end %>
                  </li>
              </ul>
            <% end %>
          <% end %>
        <% end %>
        
      </nav>
    <!-- Sidebar Navigation end-->
    <div class="page-content">
     <%= yield %>
        <footer class="footer">
          <div class="footer__block block no-margin-bottom">
            <div class="container-fluid text-center">
              <!-- Please do not remove the backlink to us unless you support us at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
              <p class="no-margin-bottom">2019 &copy; EF Painel</p>
            </div>
          </div>
        </footer>
    </div>
   </div>
   <%= javascript_include_tag 'backoffice/application'  %>
  </body>
</html>
