<!DOCTYPE html>
<html>
  <head>
    <title>EF Painel - Administração do Site</title>    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <%= stylesheet_link_tag 'backoffice/application', media: 'all' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>

  <body>
    <header class="header">   
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid d-flex align-items-center justify-content-between">
          <div class="navbar-header">
            <!-- Navbar Header--><a href="index.html" class="navbar-brand">
              <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary">EF</strong><strong>Painel</strong></div>
              <div class="brand-text brand-sm"><strong class="text-primary">E</strong><strong>F</strong></div></a>
            <!-- Sidebar Toggle Btn-->
            <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>
          </div>
          <div class="right-menu list-inline no-margin-bottom">
            <div class="list-inline-item dropdown"><a id="navbarDropdownMenuLink1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link messages-toggle"><i class="icon-email"></i><span class="badge dashbg-1">1</span><span style="margin-left: 2px;">Mensagens</span></a>
              <div aria-labelledby="navbarDropdownMenuLink1" class="dropdown-menu messages"><a href="#" class="dropdown-item message d-flex align-items-center">
                  <div class="profile"><img src="img/avatar-3.jpg" alt="..." class="img-fluid">
                    <div class="status online"></div>
                  </div>
                  <div class="content">   <strong class="d-block">Pamela Caroline</strong><span class="d-block">lorem ipsum dolor sit amit</span><small class="date d-block">9:30</small></div>

                  <a href="#" class="dropdown-item text-center message"> <strong>Mostrar todas mensages <i class="fa fa-angle-right"></i></strong></a>
                  </div>
              </div>
            <!-- Languages dropdown    -->
            <div class="list-inline-item dropdown">
                <a id="languages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">
                    <i class="icon-new-file"></i><span>Perfil</span>
                </a>
              <div aria-labelledby="languages" class="dropdown-menu">
                <%= link_to edit_backoffice_config_user_path(current_user.id), class: "dropdown-item" do %>
                   <span>Meu perfil</span>
                <% end %>
                <a rel="nofollow" href="#" class="dropdown-item"><span>Informações do site</span>
                </a>
              </div>
            </div>
            <!-- Log out               -->
            <div class="list-inline-item logout">
              <%= link_to  destroy_user_session_path, class: "nav-link" do %>
                <span class="d-none d-sm-inline">Sair</span>
                <i class="icon-logout"></i>
             <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>

<div class="d-flex align-items-stretch">
      <!-- Sidebar Navigation-->
      <nav id="sidebar">
        <!-- Sidebar Header-->
        <div class="sidebar-header d-flex align-items-center">
          <% User.where(id: current_user.id).each do |admin| %>
            <div class="avatar">
              <%= link_to "#top" do %>                  
                  <img src="<%= admin.photoavatar %>" alt="..." class="img-fluid rounded-circle">
              <% end %>
            </div>
            <div class="title">
              <h1 class="h5"><%= admin.name %></h1>
              <p><%= admin.site.name %></p>
            </div>
          <% end %>
        </div>
        <!-- Sidebar Navidation Menus-->
        <span class="heading">Principal</span>
        <ul class="list-unstyled">
          <li class="<%= controller.controller_name == "dashboard" ? 'active' : '' %>">
           <%= link_to backoffice_dashboard_index_path do %>
            <i class="fas fa-chart-line"></i>Dashboard
           <% end %>
          </li>
          <li class="<%= controller.controller_name == "site" ? 'active' : '' %>">
            <%= link_to backoffice_config_site_index_path do %> 
             <i class="icon-website"></i>Sites
            <% end %>
          </li>
          <li class="<%= controller.controller_name == "user" ? 'active' : '' %>">
             <%= link_to backoffice_config_user_index_path do %> 
             <i class="icon-user-1"></i>Admins
            <% end %>
          </li>
        </ul>
        <span class="heading">Cadastros</span>
        <ul class="list-unstyled">
        
        <li>
          <a href="#config" aria-expanded="false" data-toggle="collapse"> <i class="fas fa-info"></i>Info</a>
            <ul id="config" class="collapse list-unstyled ">
              <li class="<%= controller.controller_name == "title" ? 'active' : '' %>">
                <%= link_to backoffice_config_title_index_path do %> 
                 <i class="fas fa-heading"></i>Titulos
                <% end %>
              </li>
              <li class="<%= controller.controller_name == "about" ? 'active' : '' %>">
                 <%= link_to backoffice_config_about_index_path do %> 
                 <i class="fas fa-address-card"></i>Sobre
                <% end %>
              </li>
            </ul>
        </li>
        <li>
          <a href="#product" aria-expanded="false" data-toggle="collapse"> <i class="fas fa-list"></i>Cardapio</a>
            <ul id="product" class="collapse list-unstyled ">
               <li class="<%= controller.controller_name == "category" ? 'active' : '' %>">
                 <%= link_to backoffice_product_category_index_path do %> 
                 <i class="icon-list"></i>Categoria
                <% end %>
              </li>
              <li class="<%= controller.controller_name == "label" ? 'active' : '' %>">
                 <%= link_to backoffice_product_label_index_path do %> 
                 <i class="fas fa-tags"></i>Rótulos
                <% end %>
              </li>
              <li class="<%= controller.controller_name == "product" ? 'active' : '' %>">
                 <%= link_to backoffice_product_product_index_path do %> 
                 <i class="fas fa-hamburger"></i>Produtos
                <% end %>
              </li>
            </ul>
        </li>
        <li>
          <a href="#contact" aria-expanded="false" data-toggle="collapse"> <i class="fas fa-address-book"></i>Contatos</a>
            <ul id="contact" class="collapse list-unstyled ">
                <li class="<%= controller.controller_name == "phone" ? 'active' : '' %>">
                 <%= link_to backoffice_contact_phone_index_path do %> 
                 <i class="fas fa-mobile-alt"></i>Telefones
                <% end %>
              </li>
              <li class="<%= controller.controller_name == "address" ? 'active' : '' %>">
                 <%= link_to backoffice_contact_address_index_path do %> 
                 <i class="fas fa-map-marked"></i>Endereços
                <% end %>
              </li>
            </ul>
        </li>
      </ul>
        <span class="heading">Links</span>
        <ul class="list-unstyled">
          <li>
            <% Site.where(id: current_user.site_id).each do |site| %>
              <%= link_to lanchonete_path(:site => "#{site.id}"), target: "_blank" do %> 
                <i class="fas fa-link"></i>Link do site
              <% end %>
            <% end %>
          </li>
        </ul>
      </nav>
    <!-- Sidebar Navigation end-->
    <div class="page-content">
     <%= yield %>
        <footer class="footer">
          <div class="footer__block block no-margin-bottom">
            <div class="container-fluid text-center">
              <!-- Please do not remove the backlink to us unless you support us at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
              <p class="no-margin-bottom">2019 &copy; EF Painel</p>
            </div>
          </div>
        </footer>
    </div>
   </div>
   <%= javascript_include_tag 'backoffice/application'  %>
  </body>
</html>
